html, body {
    box-sizing: border-box;
    margin: 0px;
    height: 100%;
}

#root {
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

p {
    align-self: flex-start;
    margin: 0px 0px 10px 20px;
}

.profile-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #dbdbdb;
    width: 340px;
    height: 600px;
}

h1 {
    margin-top: 0px;
}

.profile-img {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #4d4747;
    margin-bottom: 20px;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    overflow: hidden;
    & > img {
        height: 100%;
    }
}

input[type="text"] {
    box-sizing: border-box;
    margin-bottom: 20px;
    border: 1px solid #4d4747;
    border-radius: 5px;
    padding: 0px 10px;
    width: 300px;
    height: 30px;
}

button {
    border: 1px solid black;
    border-radius: 5px;
    padding: 0px;
    width: 300px;
    height: 35px;
    background-color: rgb(22, 22, 22);
    font-size: 16px;
    color: white;
    cursor: pointer;
}